.form-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 40%;
  margin: 0 auto 20px;  
  padding: 5px 10px;
  line-height: 1.4;
}

.title-form {
  padding-bottom: 12px
}

.title {
  font-weight: 600;
  width: 100%;
  border: none;
}