.form-container {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 33%;
  margin: 0 auto 20px;  
  padding: 5px 10px;
  line-height: 1.4;
  border-radius: 8px;
}

.title-form {
  padding-bottom: 12px
}

.title {
  font-weight: 600;
  width: 100%;
  border: none;
}

.save-button {
  margin: 15px 0 10px;
  border-radius: 4px;
}