.form-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 33%;
  margin: 0 auto 20px;  
  padding: 5px 10px;
  line-height: 1.4;
}

.title-form {
  padding-bottom: 12px
}

.title {
  font-weight: 600;
  width: 100%;
  border: none;
}

.save-button {
  margin-top: 15px;
}

.pop-up {
  animation: 500ms pop-up ease-in-out;
}

.drop-down {
  animation: 500ms drop-down ease forwards;
}

@keyframes drop-down {
  0% {
    opacity:  0;
    transform: translateY(-200px) scaleY(0);
    }

  100% {
    opacity: 1;
    transform: translateY(0px) scaleY(1);
  }
}

@keyframes pop-up {
  0% {
    opacity:  0;
    transform: translateY(200px) scaleY(0);
    }

  100% {
    opacity: 1;
    transform: translateY(0px) scaleY(1);
  }
}