.note-card { 
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px;
  padding: 7.5px 15px;
  h3 { 
    margin: 0;
  }
  ul {
    list-style: none;
    padding: 0;
  }
}

.item-container {
  display: flex;
  align-items: center;
  position: relative;
  .fa-times {
    position: absolute;
    right: 0;
    margin-right: 5px;
  }
}

.active {
  visibility: hidden;
}



